/**
 * Common Definitions
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Anusic Vladimir
 */

@color_background: white;
@color_text: #3d3d4c;

@color_orange: #ff4a00;
@color_callbox_blue: #006599;
@color_background_brown: #5b432a;
@color_background_blue: #112442;
@color_background_black: #020001;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

.regular-button() {
	display: inline-block;
	margin: 0 auto;
	padding: 1rem 1rem;
	color: white;
	background-color: @color_orange;
	border: 1px solid white;
	border-radius: 5px;
	text-decoration: none;
	transform: perspective(1px) translateZ(0);
	font-weight: bold;
	text-align: center;
	position: relative;
	transition: all 0.3s;

	&:before {
		position: absolute;
		content: "";
		background-color: darken(@color_orange, 10);
		border-radius: 5px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		transform: scaleX(0);
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:active,
	&:focus {
		&:before {
			transform: scaleX(1);
		}
	}
}

.button-animation() {
	&:before {
		position: absolute;
		content: "";
		background-color: darken(@color_orange, 10);
		border-radius: 5px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		transform: scaleX(0);
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:active,
	&:focus {
		&:before {
			transform: scaleX(1);
		}
	}
}
