/**
 * Content Mobile Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

body {
	padding-top: 52px;
}

/**
 * Section info
 */
section#info {
	padding: 0rem 1rem;
	padding-top: 0.5rem;
	padding-bottom: 100px;
	background-image: url(../images/mobile-header.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	text-align: center;
	color: white;

	article {
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-position: 50% 45%;
		background-size: 180px auto;

		h2 {
			padding-bottom: 170px;
		}

		p {
			&:nth-of-type(2) {
				font-weight: bold;
			}
		}

		a {
			text-decoration: none;
			padding: @button_padding;
			background-color: @color_orange;
			border: 1px solid white;
			border-radius: 5px;
			color: white;

			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

/**
 * Section about
 */
section#about {
	padding: @section_spacing 1rem;

	article.video {
		text-align: center;
		margin-bottom: 50px;

		h2 {
			color: @color_orange;
			font-size: 2rem;
		}

		p {
			font-size: 1.3rem;
		}
	}

	iframe {
		border: none;
		padding-bottom: 2rem;
	}

	article.callbox {
		background-image: url(../images/macbook-pro.jpg);
		background-repeat: no-repeat;
		background-size: 90% auto;
		background-position: center bottom;
		padding-bottom: 250px;

		h3 {
			color: @color_callbox_blue;
		}
	}
}

/**
 * Section why attend
 */
section#why_attend {
	padding: @section_spacing 1rem;
	background-image: url(../images/mobile-benefits.jpg);
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: @color_background_brown;
	color: white;
	text-align: center;

	h2 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style-type: none;
			padding-bottom: 5rem;
			position: relative;

			&:before {
				position: absolute;
				top: -70px;
				left: 50%;
				transform: translateX(-50%);
			}

			&:nth-of-type(1):before {
				content: url(../images/glass.png);
				top: -80px;
			}

			&:nth-of-type(2):before {
				content: url(../images/food.png);
				top: -60px;
			}

			&:nth-of-type(3):before {
				content: url(../images/speaker.png);
			}

			&:nth-of-type(4):before {
				content: url(../images/time.png);
			}

			&:nth-of-type(4) {
				padding-bottom: 0;
			}

			p {
				margin: 0;
			}
		}
	}
}

/**
 * Section subscribers
 */
section#subscribers {
	padding: @section_spacing 1rem;
	text-align: center;

	h2 {
		color: black;
		padding-bottom: 150px;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			display: block;
			list-style-type: none;
			padding-bottom: 150px;
			position: relative;

			&:before {
				position: absolute;
				top: -130px;
				left: 50%;
				transform: translateX(-50%);
				padding: 0.5rem;
				border: 1px solid lighten(@color_text, 50);
			}

			&:nth-of-type(1):before {
				content: url(../images/wework-location.png);
			}

			&:nth-of-type(2):before {
				content: url(../images/zapier_callbox.png);
			}

			&:nth-of-type(2) {
				padding-bottom: 0;
			}
		}
	}
}

/**
 * Section know how
 */
section#know_how {
	padding: @section_spacing 1rem;
	background-image: url(../images/mobile-for-who.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-color: @color_background_blue;
	color: white;

	article {
		padding-top: 100px;

		h2 {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		ul {
			padding: 1rem;
			margin: 0;
		}
	}
}

/**
 * Section discount
 *
 */
section#discount {
	padding: @section_spacing 1rem;
	text-align: center;

	h2 {
		padding: 1rem 1rem;
		position: relative;
		color: @color_orange;

		&:before {
			content: url(../images/corner.png);
			position: absolute;
			left: calc(~'((100% - 310px) / 2) - 1rem');
			top: 0;
		}

		&:after {
			content: url(../images/corner.png);
			position: absolute;
			right: calc(~'((100% - 310px) / 2) - 1rem');
			bottom: 0;
			transform: rotate(180deg);
		}
	}

	article {
		p {
			&:nth-of-type(1) {
				font-weight: bold;
			}

			strong {
				font-size: 5rem;
				color: @color_orange;
			}
		}

		a {
			padding: @button_padding;
			color: white;
			background-color: @color_orange;
			border: 1px solid @color_orange;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;
			transition: all 0.3s;

			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

/**
 * Section lecturers
 */
section#lecturers {
	padding: @section_spacing 1rem;
	background-image: url(../images/speakers.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-color: @color_background_black;
	color: white;

	h2 {
		text-align: center;
	}

	figure {
		margin: 0;
		display: block;
		text-align: center;
		padding: 1rem;

		img {
			border: 2px solid @color_orange;
			border-radius: 50%;
		}
	}
}

/**
 * Section sponsors
 */
section#sponsors {
	padding: @section_spacing 1rem;

	h2 {
		text-align: center;
		color: black;
		padding-bottom: 2rem;
	}

	figure {
		display: block;
		margin: 0;
		padding: 0;
		padding-bottom: 2rem;

		&:nth-of-type(4) {
			padding-bottom: 0;
		}

		img {
			display: block;
			margin: 0 auto;
		}

		&:nth-of-type(3) img {
			width: 111px;
			height: auto;
		}
	}
}

div.dialog.purchase {
	z-index: 20000000;
	max-width: none;

	iframe {
		border: 0;
	}
}
