/**
 * Font Definitions
 * Beer and Automation
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

// regular font
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: normal;

	src: url(../images/fonts/assistant-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'generic';
	font-weight: bold;
	font-style: normal;

	src: url(../images/fonts/assistant-bold.ttf) format('truetype');
}
