/**
 * Footer Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */
footer {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	background-image: url(../images/footer.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #687586;

	article {
		color: white;
		text-align: center;
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-size: 300px auto;
		background-position: 50% 20%;

		h2 {
			padding-bottom: 300px;
		}

		p {
			font-size: 2em;

			&:nth-of-type(2) {
				font-weight: bold;
			}
		}

		a {
			.regular-button();
			font-size: 2rem;
		}
	}
}

div.copyright {
	background-color: @color_background_blue;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px');
}
