/**
 * Header Mobile Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

header {
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem 0.5rem;
	background-color: white;

	a.logo {
		display: inline-block;
		vertical-align: middle;

		span {
			display: inline-block;
			vertical-align: middle;
			color: @color_text;
			padding: 0 2rem;
			text-align: center;
			font-size: 0.8rem;
		}
	}

	nav#main {
		display: inline-block;
		vertical-align: middle;

		a.register {
			font-size: 0.8rem;
			vertical-align: middle;
			padding: @button_padding;
			color: white;
			background-color: @color_orange;
			border: 1px solid @color_orange;
			border-radius: 5px;
			text-decoration: none;
			transition: all 0.3s;

			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}