/**
 * Header Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

header {
	background-color: white;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
	padding: 0.5rem calc(~'(100% - 660px) / 2');
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;

	a.logo {
		display: inline-block;
		vertical-align: middle;

		img {
			width: 5rem;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			color: @color_text;
			padding: 0 2rem;
			text-align: center;
		}
	}

	nav#main {
		vertical-align: middle;

		a.register {
			vertical-align: middle;

			.regular-button();

			padding: @button_padding;
			border: 1px solid @color_orange;
		}
	}
}
